*,*:after, *:before{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{
	font-family: 'Noto Sans', sans-serif;
}

/* NAVBAR */
#container-logo {
    display: inline-flex;
}
#text-logo {
    color: #f96c85;
    font-family: 'Sacramento', cursive;
    padding-top: 14px;
    margin-bottom: -4px;
}
@media screen and (max-width: 900px) {

    #text-logo { 
        font-size: 190% !important;
    }
}
@media screen and (max-width: 550px) {
    #container-logo { 
        margin-left: -50px !important;
    }
    #text-logo { 
        font-size: 190% !important;
    }
}
@media screen and (max-width: 450px) {
    #text-logo { 
        font-size: 170% !important;
    }
}
@media screen and (max-width: 420px) {
    #text-logo { 
        font-size: 157% !important;
    }
}
@media screen and (max-width: 380px) {
    #photo-logo { 
        width: 50px;
        height: 50px;
    }
    #text-logo { 
        margin-top: -2px !important;
        margin-left: 5px !important;
        font-size: 140% !important;
    }
}
@media screen and (max-width: 350px) {
    #photo-logo { 
        width: 40px;
        height: 40px;
        margin-right: -1px !important;
    }
    #text-logo { 
        margin-top: -8px !important;
        margin-left: 10px !important;
    }
}
#navbar-items { 
  margin-left: auto;
}


/* COVER-PAGE */

#cover-page {
    background: url(img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3% !important;
    padding-bottom: 13% !important;
}
#text-cover-page {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    padding-top: 120px;

}
.text-with-bg {
    background-color: #e97d8fd3;
}
@media screen and (max-width: 1350px) {
    #cover-page {
        background: url(img/portada-cel.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 650px) {
    #text-cover-page {
        font-size: 180%;
    }
}
@media screen and (max-width: 550px) {
    #cover-page {
        background: url(img/portada-cel.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #text-cover-page {
        font-size: 130%;
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
}
@media screen and (max-width: 405px) {
    #text-cover-page {
        font-size: 110%;
        padding-top: -100px !important;
    }
}
@media screen and (max-width: 357px) {
    #text-cover-page {
        font-size: 90%;

    }
}

/* SECTION */

#galery {
    background: url(img/bg-1.png);
    background-size: 100px 100px;
    border-top: solid 2px rgb(0, 0, 0);
    margin-bottom: -60px !important;
    padding-bottom: 130px !important;
}
#text-section {
    font-size: 200%;
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 420px;
    padding: 160px;
    grid-gap: 100px;
}
.gallery__item {
    position: relative;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#button-web {
    background-color: #fcdc8d;
    width: 18rem;
}

@media screen and (max-width: 1330px) {
    .gallery-container {
        padding: 80px;
    }
}
@media screen and (max-width: 1130px) {
    .gallery-container {
        padding: 40px;
        grid-gap: 30px;
    }
}

@media screen and (max-width: 920px) {
    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 120px;
        grid-gap: 150px;
    }
    #button-web {
        margin-top: 50px;
    }
}
@media screen and (max-width: 920px) {
    .gallery-container {
        padding: 120px;
        grid-gap: 150px;
    }
    #button-web {
        margin-top: 50px;
    }
}
@media screen and (max-width: 800px) {
    .gallery-container {
        padding: 80px;
        grid-gap: 130px;
    }
    #button-web {
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 680px) {
    .gallery-container {
        padding: 60px;
        grid-gap: 70px;
    }
}
@media screen and (max-width: 600px) {
    .gallery-container {
        padding: 60px;
        grid-gap: 10px;
    }
    #button-web {
        margin-top: 30px;
    }
}
@media screen and (max-width: 500px) {
    .gallery-container {
        padding: 20px;
        grid-gap: 0px;
    }
    #text-section {
        font-size: 140%;
    }
}
@media screen and (max-width: 480px) {
    .gallery-container {
        grid-auto-rows: 350px;
        grid-gap: 30px;
    }
}
@media screen and (max-width: 400px) {
    .gallery-container {
        grid-auto-rows: 290px;
        grid-gap: 40px;
    }
}
@media screen and (max-width: 350px) {
    .gallery-container {
        grid-auto-rows: 290px;
        grid-gap: 10px;
    }
}

#ribbon {
    background-color: #e6c3c9;
}

/*PRODUCT*/

#product {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Noto Sans', sans-serif;
}
@media screen and (min-width: 700px) {
    #frequent-questions {
        padding-left: 90px;
    }
}
@media screen and (max-width: 576px) {
    .expand-fq {
        margin-left: -100px;
        margin-right: -100px;
    }
}
@media screen and (max-width: 378px) {
    .expand-fq {
        margin-left: -70px;
        margin-right: -70px;
    }
}

#contact {
    background: url(img/bg-1.png) #fcdd8da8;
    background-size: 70px 70px;
}
#target-contact {
    width: 30rem;
}

@media screen and (max-width: 600px) {
    #target-contact {
        width: 20rem;
        margin-top: -20px !important;
        margin-bottom: -20px !important;
    }
    #text-contact {
        font-size: 130%;
    }
}
@media screen and (max-width: 410px) {
    #target-contact {
        width: 18rem;
    }
    #contact-whatsapp {
        font-size: 120%;
    }
}

#footer {
    background-color: #f96c85;
}